*{
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1175px;
    margin: 0 auto;

}

@import 'base/variables';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/about';
@import 'blocks/works';