.button {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 70px;
    border: 3px solid #f8f8f8;
    background-color: rgba(256,256,256, .2);
    color: #ffffff;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
    border-radius: 10px;

    &:hover {
        background-color: #00897b;
        cursor: pointer;
    }
    &_border_black {
        color: #000;
        width: 180px;
        height: 60px;
        border: 2px solid #000000;
    }
    &_mini_black {
        border: 3px solid #000;
        color: #000;
        width: 150px;
        height: 55px;
        border: 2px solid #212121;
        &:hover {
            border: 2px solid #ffffff;
            color: #ffffff;
        }
    }
    &_green {
        background-color: #00897b;
    }
}
