.header {
	max-height: 123px;
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;
	}
	&__menu {
		display: flex;
		list-style-type: none;
		li {
			margin-left: 40px;
			font-size: 20px;
			font-weight: 400;
		}
	}	
	&__logo {
		img {
			height: 100%;
		}
	}
	&__link {
		color: #212121;
		text-decoration: none;
	}
	.hamburger {
		display: none;
	}
}

