.header {
	position: relative;
	height: 62px;
	nav{
		position: fixed;
		height: 62px;
		width: 100%;
		background-color: $main-color;
		z-index: 10;
	}
	&__content {
		height: 62px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		display: flex;
		list-style-type: none;
		li {
			margin-left: 40px;
			font-size: 20px;
			font-weight: 400;
		}
	}	
	&__logo {
		width: 124px;
		height: 24px;
		
	}
	&__link {
		color: #212121;
	}
	.hamburger {
		display: none;
	}
}

