.promo {
    min-height: 655px;
    background-color: rgba(0,0,0,.6);
    background: url(../img/main_back.jpg) center (center/cover) no-repeat;
    padding: 305px 0 191px 0;
    &__title {
        color: #ffffff;
        font-size: 60px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 2px;
    }
    &__subtitle {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 1.1px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 108px;
        max-width: 460px;
    }


}