.title {
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 36px;
    text-align: center;
    &_white {
        color: #fff;
    }
}
.subtitle {
    color: #212121;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: center;
    &_white {
        color: #fff;
    }
}